.contactform {
  width: 95%;
  font-family: 'Merriweather Sans';
  padding-bottom: 4rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.contactformheader {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

.input {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.input-text {
  height: 5rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.contactformmessage {
  text-align:center;
  padding-bottom:10px;
}
.contactform td {
  padding:4px;
  font-size:12px;
}
.contactform p {
  padding:4px;
}
.contactform label {
  padding:4px;
}
.contactform label {
  padding-right:10px
}
.required {
  font-weight:bold;
}
.required_star {
  font-weight:bold;
  color:#F00;
}
.not-required {
  font-weight:normal
}
.antispammessage {
  padding:10px;
  color: #fffdd0;
  font-weight:bold
}
.antispamquestion {
  font-weight:normal;
  color: inherit;
}

#submit-button {
  padding: 0.5rem;
  color: #fffdd0;
  background-color: #092807;
  border: 2px darkgreen solid;
  border-radius: 5px;
  cursor: pointer;
}
