* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
    background-color: #002900 !important;
    background: url("../images/veg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: #999;
}


.contact-button {
  cursor: pointer; !important
}

#selector-div {
    background-color: rgba(0, 41, 0, 0.95);
    padding-top: 7rem;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    font-family: 'Merriweather Sans';
}

#selector {
    margin-left: 4%;
}

#logo-full, #veg, #vis, .dropdown-item, .nav-link {
  cursor: pointer;
}

.content {
    background-color: rgba(0, 41, 0, 0.95);
    width: 100%;
    max-width: 1000px;
    color: #fffdd0;
    padding: 4%;
    margin: auto;
    font-family: "Merriweather Sans", sans-serif;
    text-justify: newspaper;
    z-index: 0;
}

#homepage-content {
  padding-top: 6rem;
  padding-bottom: 0.01rem;
  min-height: 100vh;
  font-size: 0.8em;
}

#contact-content {
  padding-top: 5.5rem;
  min-height: 100vh;
  margin: auto;
  font-size: 0.8em;
}

#region-content h1 {
    font-family: 'Satisfy';
    font-size: 3.5em;
    text-align: center;
    margin-left: 0.5rem;
    text-shadow: 5px 5px 15px black;
}

.subregion-links {
  margin-top: 1.5rem;
  display: inline;
  margin-bottom: 0.5rem;
}

.subregion-link {
  padding: 0.5rem;
  color: #fffdd0;
  font-size: 0.8em;
  background-color: #092807;
  border: 2px darkgreen solid;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

#contact-link {
  font-family: "Merriweather Sans", sans-serif;
  color: #fffdd0;
  border-bottom: 1px white dotted;
}

.info-button {
    height: 3.5rem;
    cursor: pointer;
}

section h2 {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    color: lightgreen;
    margin-bottom: 3%;
    margin-left: 0.5rem;
}

a.anchor {
    display: block;
    position: relative;
    top: -7rem;
    visibility: hidden;
}

section a {
    color: green;
}

section a:hover {
    color: lightgreen;
    text-decoration: none;
}

section h4 {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.phone-number {
  color: rgb(0, 41, 0);
  border-bottom: 1px dotted black;
}

.phone-number:hover {
  color: inherit;
}

.accommodation {
    display: block;
    transition: display 0.5s ease-in-out;
}

.entry {
    background-color: #fffdd0;
    color: rgb(0, 41, 0);
    margin-bottom: 3%;
    padding: 2%;
    border: solid 2px lightgreen;
    border-radius: 1rem;
}

.description {
    font-size: 0.8em;
}

.region-description {
    font-size: 0.8em;
    margin-top: 10%;
}

.accom-photo {
    display: block;
    width: 100%;
    max-width: 483px;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

.accom-photo-wide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

.accom-photo-tall {
    display: block;
    width: 100%;
    max-width: 303px;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

.advert-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 483px;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

.restaurant-photo {
    width: 100%;
    max-width: 633px;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

.region-photo {
    width: 100%;
    max-width: 1050px;
    /*max-width: 600px;*/
    float: left;
    margin: -17% 3% -3% 0;
    /*margin: -17% auto -3% auto;*/
}

/*.region-photo {*/
    /*width: 100%;*/
    /*max-width: 1050px;*/
    /*float: left;*/
    /*margin: -3% 3% -20% 0%;*/
/*}*/

.code-explanation {
  position: relative;
  display: inline-block;
  border: 0;
  border-bottom: 1px dotted black;
  background-color: inherit;
}

.green-code {
  color: green;
}

.offers-button {
  padding: 0.5rem;
  color: darkgreen;
  background-color: #fffdd0;
  border: 2px green solid;
  border-radius: 5px;
  cursor: pointer;
}

.offer {
  display: none;
  position: relative;
  font-size: 0.8em;
  color: white;
  background-color: #092807;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 15px;
}

.offer a {
  color: lightgreen;
}

.offer a:hover {
  text-decoration: underline;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 99;
    border: 2px darkgreen solid;
    background-color: #092807;
    color: #fffdd0;
    cursor: pointer;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 50%;
    font-size: 1.5em;
}

#footer {
    padding-top: 0;
    margin-bottom: 1.5%;
    margin-top: -1.5%;
    font-size: 0.6em;
    color: #fffdd0;
}
